  

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(rgb(228, 228, 228), rgb(46, 46, 46));
}
.title{
  font-size: 5.31rem;
  color: #fff;
}
.containerInput{
  background-color: rgba(255, 255,255, 0.2);
  padding: 15px;
  margin: 34px 0;
  display: flex;
  border-radius: 8px;
  box-shadow: 1px 3px 8px rgba(0,0,0, 0.5);
}
.containerInput input{
  background-color: transparent;
  border: 0;
  font-size: 20px;
  color: #fff;
  outline: none;
  margin-right: 8px;
  

}
.containerInput input::placeholder{
  color: #f1f1f1;
}
.buttonSearch{
  background-color: transparent;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.5s;
}
.buttonSearch:hover{
  transform: scale(1.2);
}
.main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  width: 24rem;
  border-radius: 0.5rem;
}
.main h2{
  margin: 16px 0;
  font-size: 2rem;
}
.main span{
  margin-bottom: 1rem ;
  font-weight: bold;
}
@media (max-width: 700px) {
  .title{ 
    font-size: 3rem;
  }
  .main h2{
    font-size: 1.5rem;
  }
  .main{
    width: 80%;
    min-height: 13rem;
  }
}